@import url(https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;

0,700;1,400&display=swap);* {
  background-origin: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.img_container {
  width: 400px;
  height: 250px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.img_container .img_logo {
  width: 100%;
  height: 100%;
}

.nav_pagine {
  width: 100%;
  text-align: center;
}

.nav_pagine li {
  display: inline-block;
  font-size: 50px;
  padding: 25px;
}

.nav_pagine li:hover {
  background-color: #b3e5fc;
}

.nav_pagine li a {
  color: #000;
  text-decoration: none;
}

.big_container {
  width: 100%;
  background-image: url(/images/fondo-pag-speciali.jpg);
}

.big_container .wrapper_img {
  width: 90%;
  margin: auto;
}

.big_container .wrapper_img .box_type {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.big_container .wrapper_img .box_type .title {
  width: 100%;
  height: 70px;
}

.big_container .wrapper_img .box_type .title h2 {
  margin: 20px 0;
  color: #002d73;
  text-align: center;
  line-height: 70px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
}

.big_container .wrapper_img .box_type .box_pasta {
  width: calc(100% / 4);
  height: 250px;
  margin: 10px;
  position: relative;
}

.big_container .wrapper_img .box_type .box_pasta .img_pasta {
  width: 100%;
  height: 100%;
}

.big_container .wrapper_img .box_type .box_pasta .overlay {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(74, 102, 128, 0.5);
  z-index: 1;
  cursor: pointer;
}

.big_container .wrapper_img .box_type .box_pasta .overlay a {
  text-decoration: none;
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.big_container .wrapper_img .box_type .box_pasta .overlay img {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%);
}

.big_container .wrapper_img .box_type .box_pasta:hover .overlay {
  display: block;
}

#wrapper_sign {
  width: 100%;
  background-color: #b7dae5;
  padding: 30px 0;
}

#wrapper_sign .container_small {
  width: 80%;
  margin: auto;
}

#wrapper_sign .container_small .titolo_prodotto {
  width: 100%;
  text-align: center;
  color: #002d73;
}

#wrapper_sign .container_small img {
  width: 100%;
}

#wrapper_sign .container_small .descrizione {
  color: #002d73;
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}

