* {
  background-origin: border-box;
  margin: 0;
  padding: 0;
}

.img_container {
  width: 400px;
  height: 250px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 50px;
}

.img_container .img_logo {
  width: 100%;
  height: 100%;
}

.nav_pagine {
  width: 100%;
  text-align: center;
}

.nav_pagine li {
  display: inline-block;
  font-size: 25px;
}

.nav_pagine li a {
  color: #000;
  text-decoration: none;
}

