//big_container
.big_container{
    width: 100%;
    background-image: url(/images/fondo-pag-speciali.jpg);
    //box_type
    .wrapper_img{
        width: 90%;
        margin: auto;
        .box_type{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            // box pasta
            .title{
                width: 100%;
                height: 70px;
                h2 {
                    margin: 20px 0;
                    color: #002d73;
                    text-align: center;
                    line-height: 70px;
                    font-size: 30px;
                    font-weight: bold;
                    text-transform: uppercase;
                    }
            }
            
            .box_pasta{
                width: calc(100% / 4);
                height: 250px;
                margin: 10px;
                position: relative;
                // immagine tipo pasta
                .img_pasta{
                    width: 100%;
                    height: 100%;
                }
                // inizio overlay
                .overlay{
                    position: absolute;
                    display: none;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: rgba(74, 102, 128,0.5);
                    z-index: 1;
                    cursor: pointer;
                    // link layover
                    a{ 
                        text-decoration: none;
                        text-align: center;
                        font-size: 30px;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%,-50%);
                        color: white;
                    }
                    img{
                        width: 50px;
                        height: 50px;
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translate(-50%);
                    }
                    // fine link layover
                }
            // fine overlay
            // effetto hover
            &:hover .overlay{
                display: block;
            }
            }
            // box pasta
            
        }
        //box_type
    }
}
//big_container
