//big_container
.big_container{
    width: 100%;
    background-image: url(/images/fondo-pag-speciali.jpg);
    //box_type
    .wrapper_img{
        width: 80%;
        margin: auto;
        h2 {
            margin: 20px 0;
            color: #002d73;
        }
        .box_type{
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            margin: 20px 100px;
            .box_pasta{
                width: calc(100% / 4);
                height: 250px;
                margin: 20px;
                .img_pasta{
                    width: 100%;
                    height: 100%;
                }
            }
        }
        //box_type
    }
}
//big_container
